
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Podcast Music</title>
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/ico" href="img/favicon.ico" />
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700%7cSource+Sans+Pro:400,600,700" rel="stylesheet">
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/nivo-lightbox.css">
        <link rel="stylesheet" type="text/css" href="../css/owl.carousel.css">
        <!-- Theme CSS -->
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
<body>
	
	<!-- Header -->
	<header id="site-header">
		<form action="#" id="search-header" name="search-header">
			<input type="search" name="search" placeholder="Type and Hit Enter..">
			<button>Search</button>
		</form>
		<div class="container nav-wrapper">
			<!-- Logo -->
			<div class="site-branding">
				<a href="/">
					<span class="first-word colored">Podcast</span>
					<span class="second-word">Music</span>
				</a>
			</div>
			<!-- Main Mneu -->
			<nav id="site-navigation" class="site-navigation">
				<ul id="main-menu">
					<li class="has-child">
							<a href="/">Home</a>
					</li>
					<!-- <li class="active has-child">
						<a href="/album">Albums</a>
					</li> -->
				</ul>
			</nav>
		</div>
	</header>

	<div class="site-content">
		
		<!-- Page Header -->
		<div class="page-header">
			<div class="overlay-section">
				<div class="container page-header-section">
					<h1 class="page-title"><%= data1.collectionname %></h1>
				</div>
			</div>
		</div>
		<!-- Album Single -->
		<div class="album-single-page-wrapper">
			<div class="container section">
				<div class="row album-single">
					<h2 class="album-name col-xs-12"><%= data1.collectionname %></h2>
					<div class="col-md-12 col-sm-12 clearfix">
						<div class="col-md-5 col-sm-5 clearfix">
							<img src="<%= data1.podcast_cover %>" alt="" style="width: 300px; height: 300px;" class="img-responsive">
						</div>
						<div class="col-md-7 col-sm-7 clearfix">
							<div class="description">
								<h4 class="title">Podcast Info</h4>
								<ul class="meta">
									<li class="clearfix"><span>Artist:</span><span><%= data1.artistname %></span></li>
									<li class="clearfix"><span>Language:</span><span><%= data1.language %></span></li>
									<li class="clearfix"><span>Feed:</span><span><a href="<%= data1.feedurl %>">Click Here</a></span></li>
									<li class="clearfix"><span>Artwork URL Small:</span><span><a href="<%= data1.artworkurlsmall %>">Click Here</a></span></li>
								</ul>
								<br>
							</div>
						</div>
					</div>
					<% for (var i=0;i < data.length; i++) { %>
					<div class="row podcast-post">
						<div class="col-md-4">
							<img src="<%= data[i].imageurl %>" alt="" class="bordered">
						</div>
						<div class="col-md-8">
							<h4 class="ep"><%= data[i].episode_name %></h4>
							<h3 class="title"><%= data[i].title %></h3>
							<p><%= data[i].summary %></p>
							<div class="col-md-3">
								<h6>Duration : <%= data[i].duration[0] %></h5>
							</div>
							<div class="col-md-3">
								<h6>Pub Date : <%= data[i].pubdate %></h5>
							</div>
						</div>
						<div class="row">
							<div style="margin-top: 10px">
								
								<a href="<%= data[i].audiourl %>" class="btn">Click Here to Listen</a>
							</div>
						</div>
						
					</div>
					<% } %>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Footer -->
	<footer id="colophon">
		<div class="container">
			<div class="row">
				<div class="widget col-sm-4 about-widget ">
					<h4 class="widget-title">About US</h4>
					<div class="widget-content">
						<p>Lorem ipsum dolor sit amet, consectetur  adipiscing eli esent massa libero, tristiq ue placerat sapien in, tincidmollis dui. Curabitur gravida felis turpis, non malesua est placerat eget. Cras vel fringilla mi. </p>
						<!-- <ul class="social-networks bg clearfix">
							<li><a class="fa fa-facebook" href="http://facebook.com"></a></li>
							<li><a class="fa fa-facebook" href="http://plus.google.com"></a></li>
							<li><a class="fa fa-facebook" href="http://twitter.com"></a></li>
							<li><a class="fa fa-facebook" href="http://spotify.com"></a></li>
							<li><a class="fa fa-facebook" href="http://soundcloud.com"></a></li>
							<li><a class="fa fa-facebook" href="http://youtube.com"></a></li>
						</ul> -->
					</div>
				</div>
				<!-- <div class="widget col-sm-4 twitter-widget">
					<h4 class="widget-title">Twitter</h4>
					<div id="twitter-feed"></div>
				</div>	
				<div class="widget col-sm-4 instagram-widget">
					<h4 class="widget-title">Instagram</h4>
					<ul id="footer-insta" class="clearfix"></ul>
				</div> -->
			</div>
		</div>
		<div class="footer-bar">
			<div class="container relative-pos z-index">
				<p class="col-sm-6">Copyright 2018 <a href="#">Podcast</a> | Allrights Reserved</p>
			</div>
		</div>
	</footer>

	<!-- Go to top button -->
	<div id="back-to-top" class="fa fa-arrow-circle-up"></div>
	<div id="pause-player" class="fa fa-play-circle"></div>

	<!-- Scripts -->
	<script type="text/javascript" src="../js/jquery2.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/jquery.jplayer.min.js"></script>
	<script type="text/javascript" src="../js/jplayer.playlist.js"></script>
	<script type="text/javascript" src="../js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="../js/countdown.js"></script>
	<script type="text/javascript" src="../js/twitterFetcher.js"></script>
	<script type="text/javascript" src="../js/instafeed.min.js"></script>
	<script type="text/javascript" src="../js/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="../js/masonry.pkgd.min.js"></script>
	<script type="text/javascript" src="../js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="../js/nivo-lightbox.min.js"></script>
	<script type="text/javascript" src="../js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="../js/mc.validate.js"></script>
	<script type="text/javascript" src="../js/custom_js.js"></script>
	<script type="text/javascript">
	// jQuery(document).ready(function($) {
    // 	"use strict";
	// 	// Second Player
	// 	var changeTrack2 = function changeTrack(event) {
	//         var current = myPlaylist_2.current,
	//         	playlist = myPlaylist_2.playlist;       
	//         $.each(playlist, function (index, obj) {
	//             if (index == current) {
	//                 $("#nowPlaying_2 .artist-name").html(obj.artist);
	//                 $("#nowPlaying_2 .track-name").html(obj.title);
	//             }
	//         });
	//     };
		
	// 	var myPlaylist_2 = new jPlayerPlaylist({
	// 		jPlayer: "#jquery_jplayer_2",
	// 		cssSelectorAncestor: "#jp_container_2",
	// 	}, [
	// 		// This playlist doesn't require poster image
	// 		{
	// 			artist: "Titan Slayer",
	// 			title:"Sisters of Furry",
	// 			mp3:"assets/mp3/Track-3.mp3",
	// 			free: true
	// 		},
	// 		{	
	// 			artist: "Titan Slayer",
	// 			title:"Tempered Song",
	// 			mp3:"assets/mp3/Track-1.mp3"
	// 		},
	// 		{
	// 			artist: "Titan Slayer First",
	// 			title:"Cyber Sonnet",
	// 			mp3:"assets/mp3/Track-2.mp3"
	// 		},
	// 		{
	// 			artist: "Titan Slayer feat Rihanna",
	// 			title:"Free Song",
	// 			mp3:"assets/mp3/Track-4.mp3"
	// 		},
	// 		{
	// 			artist: "Titan Slayer",
	// 			title:"Cro Magnon Man",
	// 			mp3:"assets/mp3/Track-5.mp3"
	// 		},
	// 		{
	// 			artist: "Titan Slayer feat Adelle",
	// 			title:"Your Face",
	// 			mp3:"assets/mp3/Track-3.mp3",
	// 		},
	// 		{
	// 			artist: "Titan Slayer",
	// 			title:"Lentement",
	// 			mp3:"assets/mp3/Track-1.mp3"
	// 		},
	// 		{
	// 			artist: "Titan Slayer",
	// 			title:"Cro Magnon Man",
	// 			mp3:"assets/mp3/Track-2.mp3"
	// 		}
	// 	],{
	// 		playlistOptions: {
	// 		    enableRemoveControls: true
	// 		},
	// 		swfPath: "assets/jplayer/jplayer",
	// 		supplied: "oga, mp3",
	// 		wmode: "window",
	// 		useStateClassSkin: true,
	// 		autoBlur: false,
	// 		smoothPlayBar: false,
	// 		keyEnabled: true,
    //         ready: changeTrack2,
	// 	    play: changeTrack2,
	// 	});

	// });//end .ready
	// </script>

</body>
</html>